/* ===== LAYOUT ===== */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pacifico";
  src: url("Pacifico/Pacifico-Regular.ttf");
}
.pacifico {
  font-family: "Pacifico";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #acb9bd;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8f8f8;
}


/* ===== HEADER DESKTOP ===== */
header > span > div > a, footer > span > div > a {
  padding: 0 35px 0 35px;
}

header {
  height: 15%;
  width: 100%;
  margin: 0 auto;
}

span.nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav > div{
  display: inline-flex;
  justify-content: space-evenly;
}

.nav-left, .nav-right {
  font-family: monospace;
  font-size: 170%;
  display: inline-block;
}

.nav-center {
  display: inline-block;
  height: 50%;
  width: 50%;
}

.title {
  position: absolute;
  font-family: monospace;
  font-size: 32px;
  color: #c1c2c4;
  z-index: 1;
  margin: -7px;
}
.name {
  position: absolute;
  font-family: "Pacifico", cursive;
  font-size: 32px;
  z-index: 2;
  padding: 7px;
}

div.banner {
  background-image: url(img/banner5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 350px; 
  width: 100%;
  position: relative;
}

div#social {
  position: absolute; 
  right: 0;
  bottom: 0;
  height: 44px;
  width: 330px;
  margin: 10px;
  padding: 20px;
}

div.icon{
  height: 41px;
  width: 41px;
  display: inline;
}

a > img{
  display: inline;
  height: 40px;
  margin: 10px;
}

/* ===== HEADER IPAD-MOBILE ===== */
@media screen and (max-width: 900px) {
  
  span.nav {
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  .nav-left, .nav-center, .nav-right{
    height: 100px;
  }
  
  .nav-left, .nav-right {
    display: inline-block;
    margin: 10px;
    height: 50px;
    padding: 10px;
    color: rgba(255, 255, 255, 0);
    background-color: rgb(219, 241, 250, 0.6);
  }
  
  .nav-center {
    width: 50%;
    margin: 10px;
  }

  div#social {
    display: none;
  }

  div.banner {
    display: none;
  }

}

/* ===== ABOUT DESKTOP ===== */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-left {
  width: 35%;
  background-color: #f8f8f8;
}

.shadow {
  box-shadow: 10px 10px #43464b;
  margin-top: 5%;
  margin-left: 25%;
  width: 90%;
}

.about-right {
  width: 65%;
}

.about-right > h2 {
  font-family: monospace;
  font-size: 2vw;
  width: 45%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: medium black solid;
}

.about-right > p {
  font-family: monospace;
  font-size: 1.5vw;
  padding: 20px 0 20px 0;
  width: 45%;
  margin: 0 auto;
}

/* ===== ABOUT IPAD-MOBILE ===== */
@media screen and (max-width: 900px) {

  .about {
    width: 100%;
    display: block;
    justify-content: center;
  }
  
  .about-left {
    width: 100%;
    background-color: #f8f8f8;
    padding: 30px 0 30px 0;
  }

  .shadow {
    box-shadow: 10px 10px #43464b;
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .about-right{
    width: 100%;
  }

  .about-right > h2 {
    font-family: monospace;
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: medium black solid;
  }
  
  .about-right > p {
    font-family: monospace;
    font-size: 16px;
    padding: 20px 0 20px 0;
    width: 80%;
    margin: 0 auto;
  }
}

/* ===== PORTFOLIO DESKTOP ===== */
div.portfolio {
  width: 100%;
  background-color: #fde3e3;
}

h6 {
  font-family: monospace;
  font-size: 24px;
  margin: 0 0 0 0;
  padding: 30px 0 0 170px;
}

.polaroid-wrapper {
  display: flex;
  justify-content: center;
}

.polaroid {
  height: 400px;
  width: 300px;
  border-radius: 5px;
  background-color: white;
  border: medium solid rgb(235, 235, 235);
  margin: 40px;
}

.polaroid > p {
  font-family: monospace;
  margin: 20px 38px 20px 38px;
}

#project-img1,
#project-img2,
#project-img3, 
#project-img4,
#project-img5,
#project-img6,
#project-img7,
#project-img8,
#project-img9{
  height: 220px;
  width: 220px;
  margin: 38px 38px 0px 38px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

#project-img1 {
  background-image: url(img/img1.jpeg);
}

#project-img2 {
  background-image: url(img/img2.jpeg);
}

#project-img3 {
  background-image: url(img/img3.png);
}

#project-img4 {
  background-image: url(img/img4.jpeg);
}

#project-img5 {
  background-image: url(img/img5.jpeg);
}

#project-img6 {
  background-image: url(img/img6.jpeg);
}

#project-img7 {
  background-image: url(img/img7.jpeg);
}

#project-img8 {
  background-image: url(img/img8.jpeg);
}

#project-img9 {
  background-image: url(img/img9.png);
}

.project-title{
  font-weight: bold;
}

button {
  font-weight: bold;
  font-size: 10px;
  border: none;
  background-color: #ffc7c7;
  height: 30px;
  width: 106px;
  border-radius: 5px;
  margin: 0 101px 0 101px;
}

button:hover {
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
  border: black thin solid;
  background-color: #ffc7c7;
  height: 30px;
  width: 106px;
  border-radius: 5px;
  margin: 0 101px 0 101px;
}

/* ===== PORTFOLIO IPAD-MOBILE ===== */
@media screen and (min-width: 900px) and (max-width: 1150px) {
  .polaroid {
    height: 400px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    border: medium solid rgb(235, 235, 235);
    margin: 1%;
  }
}

@media screen and (max-width: 900px) {

  h6 {
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }

  div.portfolio {
    width: 100%;
    background-color: #fde3e3;
    padding-bottom: 10px;
  }

  .polaroid-wrapper {
    display: block;
    justify-content: center;
  }

  .polaroid{
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .mobile{
    display: block;
  }

}

/* ===== RESUME DESKTOP ===== */
div.resume {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: monospace;
  font-size: 60px;
  margin: 0 0 0 0;
}

h2 {
  font-family: monospace;
  font-size: 24px;
  margin: 0 0 50px 0;
}

h3 {
  font-family: monospace;
  font-size: 24px;
  margin: 20px 0 20px 0;
}

h4 {
  font-family: monospace;
  font-size: 20px;
  margin: 0 0 0 0;
}

h5 {
  font-family: monospace;
  font-size: 20px;
  margin: 0 0 0 0;
}

ul {
  margin: 0 0 0 0;
}

li {
  font-family: monospace;
  font-size: 18px;
  margin: 0 0 0 0;
}

.resume-left {
  width: 35%;
  position: relative;
}

.resume-left-text {
  font-family: monospace;
  padding: 0 15px 30px 15px;
}

.ed-and-cert{
  margin: 20px 0 20px 0;
}

.ed-and-cert-text {
  font-size: 20px;
  font-family: monospace;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

div#connect{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon2{
  height: 60px;
  width: 60px;
  margin: 20px;
  display: inline;
}

#resume-img {
  width: 500px;
  position: absolute;
  bottom: 0;
}

.resume-right {
  width: 65%;
  padding: 0 30px 0 30px;
  background-color: #f8f8f8;
}

.resume-right-text {
  font-family: monospace;
  padding: 0 15px 0 15px;
}

.job {
  padding: 0 0 15px 0;
}

.threeD {
  font-family: monospace;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 0 0;
  padding-top: 5px;
}

.grey {
  color: #8f8f8f;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black
}

/* ===== RESUME IPAD-MOBILE ===== */
@media screen and (max-width: 900px) {

  h1 {
    font-family: monospace;
    font-size: 35px;
    margin: 0 0 0 0;
  }
  
  h2 {
    font-family: monospace;
    font-size: 20px;
    margin: 0 0 50px 0;
  }

  h3 {
    font-family: monospace;
    font-size: 20px;
    margin: 20px 0 20px 0;
  }

  .resume {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resume-left{
    width: 100%;
  }

  .resume-right{
    width: 100%;
    padding: 0;
  }

}